@import "tailwindcss";

@layer utilities {
    .hover-grow {
        @apply transform transition-transform duration-300 cursor-pointer;
    }

    .hover-grow:hover {
        @apply scale-110;
    }
}

@layer utilities {
    .span-gradient {
        @apply bg-gradient-to-r from-orange-300 via-red-500 to-violet-600 bg-clip-text text-transparent;
    }

    .tech-stack {
        @apply drop-shadow-[0_0_10px_#38bdf8] h-10 w-10 md:h-15 md:w-15 lg:h-20 lg:w-20;
    }

    .tech-stack:hover {
        @apply animate-pulse drop-shadow-[0_0_15px_#38bdf8];
    }

    .skill-heading {
        @apply text-xl md:text-2xl font-bold;
    }

    .skill-arrange {
        @apply flex flex-col md:grid md:grid-cols-[200px_1fr] md:px-10 md:w-[90%] lg:w-[50%] md:mx-auto mt-2 items-center gap-5;
    }

    .tech-arrange {
        @apply flex flex-wrap justify-center lg:flex-nowrap lg:justify-start gap-8 border-t-2 md:border-t-0 pt-5;
    }

    .slide {
        @apply pt-0 px-2 md:px-5 py-[30px] h-[48px] md:h-[78px] md:translate-y-1 translate-y-0 overflow-hidden;
    }
}

.slide {
    display: inline-block;
    flex-direction: column;
    transition: all cubic-bezier(0.71, 0.03, 0.34, 1);
}

.wrapper {
    display: flex;
    flex-direction: column;
    animation: wordSlider 21s infinite cubic-bezier(0.9, 0.01, 0.3, 0.99);
}

@keyframes wordSlider {
    0% {
        transform: translateY(0.5%);
    }

    12.5% {
        transform: translateY(-12.5%);
    }

    25% {
        transform: translateY(-25%);
    }

    37.5% {
        transform: translateY(-37.5%);
    }

    50% {
        transform: translateY(-50%);
    }

    62.5% {
        transform: translateY(-62.5%);
    }

    75% {
        transform: translateY(-75%);
    }

    87.5% {
        transform: translateY(-87.5%);
    }
}